<%= simple_form_for @book, defaults: { input_html: { class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' } }, html: { class: 'contents' } do |form| %>
  
  <div class="my-5">
    <%= form.input :title %>
  </div>

  <div class="my-5">
    <%= form.input :author %>
  </div>

  <div class="my-5">
    <%= form.input :isbn %>
  </div>

  <div class="my-5">
    <%= form.input :description, as: :text %>
  </div>

  <div class="inline">
    <%= form.button :submit, 'Save', class: "btn-blue" %> 
  </div>
<% end %>


