<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= image_tag @book.cover, class: "h-2/5" if @book.cover.present? %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= @book.title %>
    </p>

   <p class="my-5">
      <strong class="block font-medium mb-1">Author:</strong>
      <%= @book.author %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Isbn:</strong>
      <%= @book.isbn %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= @book.description %>
    </p>
    <% if user_signed_in? && @book.content.present? %>
      <%= link_to "Read this book", read_book_path(@book), class: "btn" %>
    <% end %>
    <%= link_to "Edit this book",  edit_book_path(@book), class: "btn" %>
    <%= link_to "Back to books", books_path, class: "btn" %>
  </div>
</div>
